target/classes/locking-flow-poc.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<http:listener-config name="httpListenerConfig"
		host="0.0.0.0" port="${http.port}" doc:name="HTTP Listener Configuration" />
	<apikit:config name="apiConfig" raml="api.raml"
		consoleEnabled="false" doc:name="Router" />
	<context:property-placeholder location="api.properties" />
	<spring:beans>
		<spring:bean class="com.vibes.demo.lock.poc.ApplicationLockUtil"
			scope="singleton" id="applicationLockUtil" name="applicationLockUtil">
		</spring:bean>
	</spring:beans>
	<flow name="api-main">
		<http:listener config-ref="httpListenerConfig" path="/vibes/api/lock/poc/*"
			doc:name="HTTP" />
		<apikit:router config-ref="apiConfig" doc:name="APIkit Router" />
		<exception-strategy ref="apiKitGlobalExceptionMapping"
			doc:name="Reference Exception Strategy" />
	</flow>
	<flow name="api-console">
		<http:listener config-ref="httpListenerConfig" path="/console/*"
			doc:name="HTTP" />
		<apikit:console config-ref="apiConfig" doc:name="APIkit Console" />
	</flow>
	<flow name="get:/ping:apiConfig">
		<set-payload
			value="{&#xA;  &quot;message&quot;:&quot;Ping Succeess&quot;&#xA;}"
			doc:name="Set Payload" />
	</flow>
	<flow name="get:/test:apiConfig">
		<validation:is-true message="Locked By Another Instance"
			exceptionClass="org.mule.extension.validation.api.ValidationException"
			expression="#[app.registry.'applicationLockUtil'.lock('lockId')]"
			doc:name="Validation- Acquire Lock" />
		<expression-component doc:name="Expression-Add Sleep"><![CDATA[Thread.sleep(10000);]]></expression-component>
		<set-payload
			value="{ &quot;message&quot;:&quot;Test Lock Endpoint Success&quot; }"
			doc:name="Set Payload" mimeType="application/json" />
		<expression-component doc:name="Release Lock"><![CDATA[app.registry.'applicationLockUtil'.unLock('lockId')]]></expression-component>
	</flow>
	<apikit:mapping-exception-strategy
		name="apiKitGlobalExceptionMapping">
		<apikit:mapping statusCode="404">
			<apikit:exception
				value="org.mule.module.apikit.exception.NotFoundException" />
			<set-property propertyName="Content-Type" value="application/json"
				doc:name="Property" />
			<set-payload
				value="{ &quot;message&quot;: &quot;Resource not found&quot; }"
				doc:name="Set Payload" />
		</apikit:mapping>
		<apikit:mapping statusCode="405">
			<apikit:exception
				value="org.mule.module.apikit.exception.MethodNotAllowedException" />
			<set-property propertyName="Content-Type" value="application/json"
				doc:name="Property" />
			<set-payload
				value="{ &quot;message&quot;: &quot;Method not allowed&quot; }"
				doc:name="Set Payload" />
		</apikit:mapping>
		<apikit:mapping statusCode="415">
			<apikit:exception
				value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
			<set-property propertyName="Content-Type" value="application/json"
				doc:name="Property" />
			<set-payload
				value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }"
				doc:name="Set Payload" />
		</apikit:mapping>
		<apikit:mapping statusCode="406">
			<apikit:exception
				value="org.mule.module.apikit.exception.ApikitRuntimeException" />
			<set-property propertyName="Content-Type" value="application/json"
				doc:name="Property" />
			<set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }"
				doc:name="Set Payload" />
		</apikit:mapping>
		<apikit:mapping statusCode="400">
			<apikit:exception
				value="org.mule.module.apikit.exception.BadRequestException" />
			<set-property propertyName="Content-Type" value="application/json"
				doc:name="Property" />
			<set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }"
				doc:name="Set Payload" />
		</apikit:mapping>
		<apikit:mapping statusCode="399">
			<apikit:exception
				value="org.mule.extension.validation.api.ValidationException" />
			<set-property propertyName="Content-Type" value="application/json"
				doc:name="Property" />
			<set-payload value="{&quot;message&quot;:&quot;#[exception.cause.?message or exception.cause]&quot;}"
				doc:name="Set Payload" mimeType="application/json"/>
		</apikit:mapping>
	</apikit:mapping-exception-strategy>
</mule>
